.center {
    width: 100%;
    text-align: center;
}



.old-pass {
        border: none;
    text-align: center;
    width: 50vw;
    height: 3vh;
    border-radius: 10px;
    background: rgba(0,0,0,0.3);
    margin-top: 5vh;
    font-size: 2em;
    color: white;
}



.hr {
    width: 100vw;
    margin-top: 2vh;
}



.save {
    width: 30%;
    height 5vh;
    margin-top: 5vh;
    color: white;
    font-size: 2em;
    border: none;
        background: #7986CB;
    border-radius: 50px; 
}



.padding {
    height: 6.5vh;
    padding-left: 1vw;
    min-height: 70px;
}