.chats-status-doNotDisturb {
    width: 2%;
    height: 100%;
    display: inline-block;
    left: -4px;
    position: relative;
}


.chats-photo {
	width:20%;
	height: 100%;	
}


.user {
    width: 100vw;
    height: 200px;
    background-color: rgba(0,0,0,0.3);
    margin-top: 0.1vh;
    
}